<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Painel Inicial
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
  
     <!-- Content Header (Page header) -->
     <section class="content">
      <div class="row bg-dark text-white">
          
        <div class="col-md-12 col-sm-12 col-xs-12">
          
            <div class="box box-default color-palette-box">
              <div class="box-header with-border text-center">
            <h1>Informações sobre o boleto</h1>
            </div>
            {loop="$dados"}
            <div class="box-body">
                <h3><b>Dados do Atleta</b></h3>
                <h4> Nome: {$value.nome_atleta}</h4>
                <h4> Cpf: {$value.cpf}</h4>
                <h4> Email: {$value.email}</h4>
                <h4> Telefone: {$value.telefone}</h4>
                <h3><b>Dados do Boleto</b></h3>
                <h4> Código do boleto: {$value.codigo}</h4>
                <h4> Referência: {$value.referencia}</h4>
                <h4> Data de Vencimento: {$value.data_vencimento}</h4>
                <h4> Valor: R${$value.valor}</h4>

                <a href="/painel-curso/boleto/aprovar" type="button" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i> Aprovar Boleto</a>
                <a href="/painel-curso/boleto/reprovar" type="button" class="btn btn-danger ml-3 "><i class="fa fa-times" aria-hidden="true"></i> Reprovar Boleto</a> 
            </div>
            {/loop}
          </div>
        </div>
        </div>
  
  
  
  
        
      
      
        
        
          </section>  
  </div> 