 <!-- <div style="height: 113px;"></div> -->
 <div class="slide-one-item home-slider owl-carousel">
      
  <div class="site-blocks-cover inner-page" style="background-image: url(/res/img/boxe.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
    <!-- <div class="container"> -->
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7 text-center" data-aos="fade">
          <h1>APEBOXE</h1>
          <span class="caption d-block text-white">Associação Pernambucana de Boxe</span>
        </div>
      </div>
    <!-- </div> -->
  </div>  

  <div class="site-blocks-cover inner-page" style="background-image: url(/res/img/bg2.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
    <!-- <div class="container"> -->
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7 text-center" data-aos="fade">
          <h1>Faça parte!</h1>
          <span class="caption d-block text-white">Filia-se</span>
        </div>
      </div>
    <!-- </div> -->
  </div> 
</div>

 <div class="site-section ">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p class="mb-5"><img src="/res/img/curso2.jpg" alt="Image" class="img-fluid"></p>
      </div>
      <div class="col-lg-5 ml-auto">
        <h1 class="site-section-heading mb-3">Estão abertas as inscrições para o novo Curso de Formação para treinadores de Boxe</h1 >
        <p>O Curso acontecerá nos dias 25 e 26 de Maio e será ministrado pelo professor Yves Moraes </p>
        <p class="mb-4">O Local será na Academia New Champions Team, localizada na Av. Dr. José Claúdio Gueiros Leite, 3285, Sala 6 - Janga/Paulista.</p>
        <p class="mb-4">O valor do investimento será de R$300,00 (R$302,00 no boleto bancário). </p>
        <p class="mb-4">Oferecimento: FBPE e APEBOXE</p>
        <p>Informações: (81) 99248-1166 - WhatsApp</p>
        <p><a href="/inscricao-curso" class="btn btn-outline-success py-2 px-4 mx-auto">Inscreva-se </a></p>
      </div>
    </div>
  </div>
</div>

<div class="site-section border-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2">
          <p class="mb-5"><img src="/res/img/Logo.jpg" alt="Image" class="img-fluid rounded"></p>
        </div>
        <div class="col-lg-5 mr-auto order-2 order-lg-1">
          <h2 class="site-section-heading mb-3">Filiação na Associação Pernambucana de Boxe</h2>
          <p>A Associação Pernambuca de Boxe em breve abrirá inscrições para novos filiados. Venha fazer parte!</p>
          <p class="mb-4">Inicialmente as inscrições serão abertas para atletas, instrutores e academias. </p>
          <p>Os valores das inscrições são: </p>
          <p>Atleta: R$70,00 + R$2,00 de taxa de serviço</p>
          <p>Instrutor: R$100,00 + R$2,00 de taxa de serviço</p>
          <p>Academia: R$300,00 + R$2,00 de taxa de serviço</p>
         
          <p><a href="#" class="btn btn-outline-secondary py-2 px-4">Saiba Mais</a></p>
        </div>
      </div>
    </div>
  </div>
